:root{
    --color-back-pearl-0:#FFF;
    --color-back-pearl-50:#e4ebee;
    --color-back-pearl-900: #1b262c;
    --color-back-pearl-700: #3c5562;
    --color-back-pearl-400: #7799ac;
    
    --color-aquarius-100:#c5eaf0;
    --color-aquarius-900:#0d2e32;
   
    --container-max-width: 1180px;

}